#vpConfig.vp.vp-config
	.list-input
		h2.title 服务器配置
		label
			if(config.serverEnable)
				input#serverEnable(type="checkbox" checked="checked")
			else
				input#serverEnable(type="checkbox")
			span 启用服务器配置

		label.base-config
			input#username.username(type="text" placeholder="username" value="#{config.username}")
			input#password.password(type="password" placeholder="password" value="#{config.password}")
			input#serverApi(type="text" placeholder="upload api" value="#{config.serverApi}")

		each item in config.workplace
			if item.server && item.local
				.workplace.slide
					i.iarrow
					h3.workplace-title
						strong workplace:
						i.iurl= item.local
					label
						input.serverPath(type="text" placeholder="服务器地址" value="#{item.server}")
						input.localPath(type="text" placeholder="本地工作目录" value="#{item.local}")
			else
				.workplace
					i.iarrow
					h3.workplace-title
						strong workplace:
						i.iurl
					label
						input.serverPath(type="text" placeholder="服务器地址" value="#{item.server}")
						input.localPath(type="text" placeholder="本地工作目录" value="#{item.local}")

		button#addWorkplace.add-workplace 新增workplace配置

	.list-input
		h2.title less配置
		label
			if(config.lessEnable)
				input#lessEnable(type="checkbox" checked="checked")
			else
				input#lessEnable(type="checkbox")
			span 启用LESS编译
		label
			if(config.defaultHome)
				input#defaultHome(type="checkbox" checked="checked")
			else
				input#defaultHome(type="checkbox")
			span 启用HOME模式
		label
			if(config.defaultCompress)
				input#defaultCompress(type="checkbox" checked="checked")
			else
				input#defaultCompress(type="checkbox")
			span 启用压缩模式

	button#updateConfig 更新全局配置

	script#workplaceTemplate(type="text/html")
		.workplace
			i.iarrow
			h3.workplace-title
				strong workplace:
				i.iurl
			label
				input.serverPath(type="text" placeholder="服务器地址" value="")
				input.localPath(type="text" placeholder="本地工作目录" value="")
